<section id="hero">
  <div
    class="medium-container m-auto d-flex align-items-center h-100 justify-content-end"
  >
    <div class="text">
      <h1>Comerzializadora Beal de México</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis nam
        consequuntur dolore. Quaerat, expedita assumenda. Veniam, quod quae
        repellat excepturi aspernatur in exercitationem, accusantium alias
        itaque provident similique ut doloribus!
      </p>
    </div>
  </div>
</section>
